{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}
    <h1>Result</h1>

    <pre>{{ dump(result) }}</pre>

    <a href="{{ path('app_index') }}">Back to index</a>
{% endblock %}
